.idea
.vscode
.DS_Store
Thumbs.db
.php-cs-fixer.cache

/app/orisha_socialcare/composer.lock
/app/orisha_socialcare/.phpunit.result.cache
/app/orisha_socialcare/.php-cs-fixer.cache
/app/orisha_socialcare/phpstan.neon
/app/orisha_socialcare/vendor
/app/orisha_socialcare/phpunit.xml
